body {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 05px 20px;
  width: calc(100% - 40px);
  background-color: transparent;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

main {
  margin-top: 50px;
  padding: 20px;
  display: flex;
}

.three-bar img {
  height: 25px;
  width: auto;
  background-color: white;
}

.logo img {
  height: 50px;
  width: auto;
}

nav form {
  display: flex;
  width: 530px;
  border: 1px solid #c5c7c6;
  padding: 10px;
  border-radius: 30px;
}

nav input {
  background: transparent;
  border: 0px;
  outline: 0px;
  width: 80%;
  font-size: 16px;
}

.search-bar {
  position: relative;
}

.icon-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #c5c7c6;
  font-size: 20px;
}

.mic img {
  height: 23px;
  width: auto;
}

.three-dots img {
  height: 17px;
  width: auto;
}

.signin img {
  height: 17px;
  width: auto;
  padding-left: 5px;
}

nav .signin {
  display: flex;
  width: 80px;
  border: 1px solid #c5c7c6;
  padding: 7px;
  border-radius: 30px;
}

.signin a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding-left: 10px;
}

.video {
  flex: 2;
  margin-right: 20px;
  margin-top: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.05px;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 10px;
  width: 50%;
  padding: 1px;
}

.sidebar img {
  border-radius: 10px;
  overflow: hidden;
  width: 41%;
  height: 90px;
  max-width: 90%;
  max-height: 200%;
  margin: 10px;
  margin-bottom: 1px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

.image-container img {
  margin: 0;
  transform: translateX(-5px);
}

main > * {
  width: calc(50% - 20px);
}

@media screen and (max-width: 768px) {
  nav form {
    width: 250px;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  main > * {
    width: 100%;
    margin-bottom: 20px;
  }
}